.navbar{
    background-color: white;
    
}


.link:hover{
    text-decoration: underline;
    color: #FF6101;
}
.search{
    height: 30px;
    width: 400px;
    border-width: 3px;
    border-color: rgb(153, 153, 153);
    border-style: none;
    border-radius: 3px;
}
.bir{
    background-color: #FF6101;
}
.iki{
    background-color: #3694B1;
}
.uc{
    background-color: #591AA3;
}
.dort{
    background-color: #418A00;
}
.bes{
    background-color: #45134F;
}
.search:focus{
    height: 30px;
    width: 400px;
    border-width: 3px;
    outline: none;
    border-style: none;
    border-radius: 0.3em;
}
.arkasear{
    display: flex;
    flex-direction: row;
    border-width: 3px;
    border-color: rgb(153, 153, 153);
    border-style: solid;
    border-radius: 0.3em;
    width: 400px;
}
.arkasear:focus{
    border-width: 3px;
    border-color: #FF6101;
    border-style: solid;
    border-radius: 0.3em;
    width: 400px;
}
.aramacubuk{
    margin-top: 10px;
}
.secenekler:hover{
    background-color: rgb(231, 230, 230);
}
.ucnokta {
    line-height: normal;
    margin-bottom: 13px;
    margin-top: 4px;
    overflow: hidden;
    padding: 0 4px;
    text-align: center;
    text-overflow: ellipsis;
  }
  .sepet{
    font-size: 15px;
    font-weight: 700;
    color: white;
    font-family: Arial,Helvetica,sans-serif !important;
  }
