.navbar{
    background-color: white;
    
}


.link:hover{
    text-decoration: underline;
    color: #FF6101;
}
.search{
    height: 30px;
    width: 400px;
    border-width: 3px;
    border-color: rgb(153, 153, 153);
    border-style: none;
    border-radius: 3px;
}
.bir{
    background-color: #FF6101;
}
.iki{
    background-color: #3694B1;
}
.uc{
    background-color: #591AA3;
}
.dort{
    background-color: #418A00;
}
.bes{
    background-color: #45134F;
}
.search:focus{
    height: 30px;
    width: 400px;
    border-width: 3px;
    outline: none;
    border-style: none;
    border-radius: 0.3em;
}
.arkasear{
    display: flex;
    flex-direction: row;
    border-width: 3px;
    border-color: rgb(153, 153, 153);
    border-style: solid;
    border-radius: 0.3em;
    width: 400px;
}
.arkasear:clicked{
    border-width: 3px;
    border-color: #FF6101;
    border-style: solid;
    border-radius: 0.3em;
    width: 400px;
}
.aramacubuk{
    margin-top: 10px;
}
.secenekler:hover{
    background-color: rgb(231, 230, 230);
}

  .sepet{
    font-size: 15px;
    font-weight: 700;
    color: white;
    font-family: Arial,Helvetica,sans-serif !important;
  }
  .ara{
    width: 80px; 
    border-style: none;
    background-color: gray;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: white;
}
  .ara:hover{
    cursor: pointer;

}
#myDiv.clicked {
    border-color: #FF6101;
  }
  .girisyap{
    border-style: solid;
    border-width: 2px;
    border-color: #BEBEBE;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .crsl-btn{
    background-color: #d69166
  }
  .crsl-btn:hover{
    background-color: #c5855d;
  }
  .crsl-btn2{
    background-color: #b5e0e6
  }
  .crsl-btn2:hover{
    background-color: #9ec7cc;
  }
  .crsl-btn3{
    background-color: #000000
  }
.menu{
    width: 1200px;
    display: block;
    margin: 0 auto;
    position: relative;
}
.ayrintilar{
  font-size: 14px;
  font-family:Arial,Helvetica,sans-serif !important;
  font-weight: 600;
  line-height: 1.2;

}
.cizgi {
  content: "";
  left: 0;
  margin-top: 20px;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  display: block;
  width: 1px;
  height: 24px;
  background-color: #e5e5e5;
}
.listediv:hover{
  background-color: #fff;
  color: #FF6101;
  cursor: default;
}

